:root {
  --background-primary: #E2FDFF;
  --color-primary: black;
  --color-dash: #99acad;
}

.sun {
  --background-primary: #E2FDFF;
  --color-primary: black;
  --color-dash: #99acad;
}

.moon {
  --background-primary: #121212;
  --color-primary: #f5f7fa;
  --color-dash: #E2FDFF;
}

html {
  background: var(--background-primary);
  color: var(--color-primary);
}

h1,
h2,
p {
  color: var(--color-primary);
}

@media (hover: none) {
  .my-theme_toggle {
    color: var(--color-primary);
  }
}

body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  font-family: 'Roboto Mono';
  font-weight: 400;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a,
a:visited,
a:active,
.theme_toggle,
.theme_toggle:visited,
.theme_toggle:active {
  text-decoration: none;
  color: var(--color-primary);

}

a:hover,
.theme_toggle:hover {
  color: #9BB1FF;
  cursor: pointer;
}

#outer {
  /* border:1px solid black; */
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  min-height: calc(50vh/3);
  /* flex-basis: calc(100%/3); */
  align-items: center;
}

#inner {
  /* border:1px solid red; */
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-basis: calc(100%/3);
  align-items: flex-start;
}

#nav_bar {
  /* border: 1px solid #9BB1FF; */
  text-align: right;
  max-width: max-content;
  margin-right: 5vh;
  flex-grow: 3;
  line-height: 35px;
}

.nav_element {
  color: #9BB1FF !important;
}

#content {
  flex-grow: 7;
  max-height: max-content;
  /* border: 1px solid black; */
}

.clickable,
.clickable:visited,
.clickable:active {
  cursor: pointer;
  text-decoration: underline;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  line-height: normal;
  color: var(--color-primary);
}

.clickable:hover,
.credit:hover {
  color: #9BB1FF !important;
}

.credit,
.credit:visited,
.credit:active {
  cursor: pointer;
  text-decoration: underline;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  line-height: normal;
  color: var(--color-primary);

}

.credit_p {
  font-size: small;
  margin-top: -10px;
}

.links {
  letter-spacing: 0.5em;
}